@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-auth {
  background-image: url(../public/authBG.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}
